
.career-box{
    background-color: black;
    color: white;
    padding: 3rem auto;
    font-family: Roboto ;

}
.heading-career{
    padding: 3.6rem 0;
    font: 6rem lucia;
    text-align: center;
    color: #ff0000;
}
.container-para{
    font-size: 1.6rem;
    padding: 2%;

}
.image-container{
    width:90vw;
    height: 20rem;
    border-radius: 5%;
    padding: 2%;
}