
.full-container{
    background-color: black;
    color: white;
    padding: 1.2rem;

}
.heading-career{
    font-size: 4.5rem;
    padding: 2rem;
    text-align: center;
    text-decoration-style:bold ;
}
.image-container{
    width:90vw;
    height: 20rem;
    border-radius: 5%;
    /* padding: 2%; */
}