
.form-heading{
    padding-top: 7%;
    font: 4rem lucia;
    color: #ff0000;

}

.form-para{
    font-size: 1.1rem;
    padding-bottom: 3%;
    margin-left: 4px;


}
.radio-heading {
    font-size: 1.3rem;
    padding: 2%;


}
.form-container{
    margin-left: 10% ;
    margin-top: 20%;

}
input{
    background-color:rgb(158, 135, 135);
    font-size: 1rem;
    margin: 4px 4px;
    outline: none;
    border-radius: 10px;
}
input:focus{
    border :2px solid #ff0000;
}
label{
    font-size: 1.3rem;
    margin-right: 5px ;
}

label > input{
    margin: 4px 2px;
    font-size: 1.3rem;
 
    
}
span>input{
    padding: 1rem 2.5rem ;

}
.add-info{
    width: 95%;
}
input::placeholder{
    color: black !important;
    font-size: 1.1rem;
    font-weight: 700;


}
.input-para{
    font-size: 1.1rem;
    margin: 1rem 0;
}
.form-btn{
    padding: 3px 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
}
.input-heading{
    font-size: 1.6rem;
    padding: 2px;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
.formimage-container{
    background-color: #ff0000;
    width: 85%;
    height: 72rem;
    border-radius: 30px;
    margin: 2rem;
}
.image-container1{
    border-radius: 30px;
    border: 9px solid white;
    width: 80%;
    height: 300px;
    margin: 3rem;


}
.image-container2{
    border-radius: 30px;
    border: 9px solid white;
    width: 90%;
    height: 250px;
    margin-left: 30%;
    overflow-x: inherit;


}
.image-container3{
    border-radius: 30px;
    border: 9px solid white;
    height: 350px;
    width: 80%;
    margin-top:6rem ;
    margin: 6rem 10%;
    


}
.radio-container>label{
    font-size: large;
    margin-right: 1rem;
}
@media screen and (max-width: 480px) {
    .image-container2{
        border-radius: 30px;
        border: 9px solid white;
        width: 80%;
        height: 250px;
        margin-left: 30%;
        overflow-x: fixed;
    
    
    }
    
}




