body{
    color: #ff0000;
}
.navbar-menu , .navbar-dropdown{
    background-color: black;
    font-size: 1.2rem;
}
.navbar-item{
    color: #ff0000;
}
.navbar-item>a:hover{
    color:#ff0000;
    background-color: rgb(46, 43, 43);
}

.container-join{
    background-color: #ff0000;
    color: white;
    font-size: 2rem ;
    text-align: center;
}
