
.navbar{
    background-color:black;


}
.navbar-item{
    color:#ff0000;
    font: 1.6rem Arial, sans-serif;

}
.navbar-end:hover{
    color:#ff0000;
 
    font: 1.6rem Arial, sans-serif;

}

.container-join{
    background: #ff0000;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}
.navbar-burger:last-child{
    color: #ff0000;
    /* height: 3rem; */
    font: 3.6rem ;
}
@media screen and (max-width:500px) {
    .container-join{
        background: #ff0000;
        text-align: center;
        color: aliceblue;
        font-size: 1.6rem;
    }
    
}