
.navbar{
    background-color:black;
    color: black;
    /* font-size: 1.6rem; */
    /* justify-content: space-around; */

}
.navbar-item{
    color:red;
    /* font-style: bold; */
    margin:  0 7%;
    font: 1.6rem Arial, sans-serif;

}
.container-join{
    background: #ff0000;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}
